@media (min-width: 700px) {
    #toggle-label {
        display: none;
      }
    
      header .wrapper {
        position: static;
        flex-direction: row;
        background-color: transparent;
        opacity: 1;
        visibility: visible;
      }

      .all-content .nav-link nav{
        display: flex;
        flex-direction: row;
        gap: 35px;
      }
      

}